* {
	margin: auto;
	text-align: center;

}

.div_base {
	
	display: inline-block;
}

.button_a {
	text-decoration: none;
	color:brown;
	line-height: 50px;

}


.navbar-brand {
	font-weight: 900;
	font-size: 25px;
	color: rgba(44, 44, 44, 0.911);
	position: absolute;
	top: 33px;
	left: 30px;
	font-size: 28px;
	font-style:oblique;
	
}



/* 검색 기능도 오후에 추가 */	