* {
	margin: auto;
	text-align: center;
}

.div_base {
	width: 100%;
	display: inline-block;
}

.navbar-brand {
	width: 90%;
	background-color: rgba(32, 194, 62, 0.808);
	display:inline-block;
	font-weight: 700;
	color: aliceblue;
}


